<div id="truemed-prequalify" style="font-size: 11.7px; font-family: var(--font-stack-body); letter-spacing: 1px;" icon-height="12" data-public-id="tm_qual_jf4e1o2qar"></div>
<script src="https://truemed-public.s3.us-west-1.amazonaws.com/truemed-ads/prequal-widget.min.js" defer></script>